.kotlin {
    color: #7f52ff;
}

.compose {
    color: #4285f4;
}

.git {
    color: #f05032;
}

.firebase {
    color: #dd2c00;
}

.supabase {
    color: #3fcf8e;
}

.gradle {
    color: #02303a;
}

.javascript {
    color: #f7df1e;
}

.portrait {
    border-radius: 15px;
    width: clamp(120px, 30vw, 288px);
    height: auto;
}

.button-github {
    background-color: #181717 !important;
    color: #ffffff !important;
}

.button-instagram {
    background-color: #ff0069 !important;
    color: #ffffff !important;
}

.button-linkedin {
    background-color: #0a66c2 !important;
    color: #ffffff !important;
}

.php {
    color: #777bb4;
}

.proxmox {
    color: #e57000;
}
